server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/cityflow
    username: kledionberisha
    password: kledion123
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    root: info
    org.springframework: info
