apiVersion: v1
kind: ConfigMap
metadata:
  name: ml-config
  namespace: cityflow
data:
  config.yaml: |
    project:
      name: "cityflow-ml"
      version: "1.0.0"
    
    mlflow:
      tracking_uri: "http://mlflow-service:5001"
      experiment_name: "cityflow-traffic-prediction"
      artifact_location: "./mlruns"
      backend_store_uri: "sqlite:///mlflow.db"
    
    data:
      postgres:
        host: "postgres-service"
        port: 5432
        database: "cityflow"
        user: "kledionberisha"
        password: "kledion123"
      mongodb:
        uri: "mongodb://mongo-service:27017"
        database: "cityflow"
      redis:
        host: "redis-service"
        port: 6379
        db: 0
    
    kafka:
      bootstrap_servers: "kafka-service:9092"
      consumer_group: "ml-prediction-service"
    
    models:
      traffic_speed_prediction:
        type: "xgboost"
        prediction_horizons: [10, 20, 30]
        target: "speed_kmh"
    
    training:
      train_days: 30
      min_samples: 1000
      test_size: 0.2
